[submodule "TOP/custom_enumerable_project"]
	path = TOP/custom_enumerable_project
	url = git@github.com:ImMPrada/custom_enumerable_project.git
	branch = main
[submodule "PRIVATE/backtracking_recursion"]
	path = PRIVATE/backtracking_recursion
	url = git@github.com:microverse-students/backtracking-recursion-ImMPrada.git
	branch = main
[submodule "TOP/fibonacci"]
	path = TOP/fibonacci
	url = git@github.com:ImMPrada/top_fibonacci.git
[submodule "TOP/top_linked_lists"]
	path = TOP/top_linked_lists
	url = git@github.com:ImMPrada/top_linkedLists.git
[submodule "TOP/binary_search_trees"]
	path = TOP/binary_search_trees
	url = git@github.com:ImMPrada/top_binary_search_trees.git
[submodule "TOP/knights_travails"]
	path = TOP/knights_travails
	url = git@github.com:ImMPrada/top_knights_travails.git
